{% extends "layout.html" %}

{% block title %}
    Enter Your Information
{% endblock %}

{% block main %}
    <form action="/enter" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="First Name" type="text">
	    <input autocomplete="off" autofocus class="form-control" name="lastname" placeholder="Last Name" type="text">
            <input class="form-control" name="email" placeholder="Email" type="text">
            <input class="form-control" name="tel" placeholder="Telephone #" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="address" placeholder="Street Address" type="text">
        </div>
	<div class="form-group">
            <input class="form-control" name="city" placeholder="City" type="text">   
            <select name="state">
	            <option value="Alabama">Alabama</option>
	            <option value="Alaska">Alaska</option>
	            <option value="Arizona">Arizona</option>
	            <option value="Arkansas">Arkansas</option>
	            <option value="California">California</option>
	            <option value="Colorado">Colorado</option>
	            <option value="Connecticut">Connecticut</option>
	            <option value="Delaware">Delaware</option>
	            <option value="District of Columbia">District Of Columbia</option>
	            <option value="Florida">Florida</option>
	            <option value="Georgia">Georgia</option>
	            <option value="Hawaii">Hawaii</option>
	            <option value="Idaho">Idaho</option>
	            <option value="Illinois">Illinois</option>
	            <option value="Indiana">Indiana</option>
	            <option value="Iowa">Iowa</option>
	            <option value="Kansas">Kansas</option>
	            <option value="Kentucky">Kentucky</option>
	            <option value="Louisiana">Louisiana</option>
	            <option value="Maine">Maine</option>
	            <option value="Maryland">Maryland</option>
	            <option value="Massachusetts">Massachusetts</option>
	            <option value="Michigan">Michigan</option>
	            <option value="Minnesota">Minnesota</option>
	            <option value="Mississippi">Mississippi</option>
	            <option value="Missouri">Missouri</option>
	            <option value="Montana">Montana</option>
	            <option value="Nebraska">Nebraska</option>
	            <option value="Nevada">Nevada</option>
	            <option value="New Hampshire">New Hampshire</option>
	            <option value="New Jersey">New Jersey</option>
	            <option value="New Mexico">New Mexico</option>
	            <option value="New York">New York</option>
	            <option value="North Carolina">North Carolina</option>
	            <option value="North Dakota">North Dakota</option>
	            <option value="Ohio">Ohio</option>
	            <option value="Oklahoma">Oklahoma</option>
	            <option value="Oregon">Oregon</option>
	            <option value="Pennsylvania">Pennsylvania</option>
	            <option value="Rhode Island">Rhode Island</option>
	            <option value="South Carolina">South Carolina</option>
	            <option value="South Dakota">South Dakota</option>
	            <option value="Tennessee">Tennessee</option>
	            <option value="Texas">Texas</option>
	            <option value="Utah">Utah</option>
	            <option value="Vermont">Vermont</option>
	            <option value="Virginia">Virginia</option>
	            <option value="Washington">Washington</option>
	            <option value="West Virginia">West Virginia</option>
	            <option value="Wisconsin">Wisconsin</option>
	            <option value="Wyoming">Wyoming</option>
            </select>
		   
            <input class="form-control" name="zip" placeholder="Zip #" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="ccnum" placeholder="CC #" type="text">
            <input class="form-control" name="expdatemonth" placeholder="Exp. Month" type="text">
            <input class="form-control" name="expdateyear" placeholder="Exp. Year" type="text">
            <input class="form-control" name="cvv" placeholder="CVV" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit Info</button>
    </form>
    <script>

        document.querySelector('form').onsubmit = function() {
        if (!document.querySelector('input').value) {
                alert('Please fill out all parts of the information.');
                return false;
            }
        return true;
        };
    </script>
{% endblock %}
